source https://nuget.org/api/v2
redirects: on

nuget FSharp.Data
nuget FSharp.Text.RegexProvider
nuget FSharp.Core
nuget FParsec
nuget FSharpx.Extras
nuget Suave
nuget Microsoft.AspNet.WebApi.Client

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2