source https://nuget.org/api/v2
redirects: on
framework: net461

nuget Chiron
nuget FSharp.Data
nuget FSharp.Text.RegexProvider
nuget FSharp.Core
nuget FParsec
nuget FSharpx.Extras
nuget Http.fs
nuget Logary.Adapters.Facade
nuget Logary.Adapters.Suave
nuget Suave
nuget Microsoft.AspNet.WebApi.Client

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  framework: net461
  nuget Expecto